<div class="user-menu">
	<div class="avatar-wrapper">
		<img src="../../images/user-avatar.png" alt="User avatar" class="avatar-image">
	</div>

	<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow">
		<path d="M1.415 0L6 4.585L10.585 0L12 1.415L6 7.415L0 1.415L1.415 0Z" fill="white" class="arrow-path" />
	</svg>

	<ul class="user-contextmenu d-none">
		<li class="contextmenu-item" data-action="tasks">Tasks</li>
		<li class="contextmenu-item" data-action="profile">Profile</li>
		<li class="contextmenu-item" data-action="logout">Log out</li>
	</ul>
</div>