<div id="manage-users">
	<h3>Managing users</h3>
	<h4>Users</h4>
	<ul class="user-list" data-role="user">
		<!-- example: -->
		<!-- <li class="user-list-item">
			test -
			<span class="user-list-password">qwerty123</span>
			<button class="btn btn-danger" data-action="delete-user" data-id="something">&times;</button>
		</li> -->
	</ul>

	<h4>Admins</h4>
	<ul class="user-list" data-role="admin"></ul>

	<div class="btn-group">
		<button class="btn btn-primary" data-action="add-user">Add a new user</button>
		<button class="btn btn-danger" data-action="add-admin">Add a new admin</button>
	</div>
</div>