<form id="profile-edit-form">
	<div class="mb-3">
		<label for="login-input" class="form-label">Login</label>
		<input name="login" type="text" class="form-control" id="login-input">
	</div>
	<div class="mb-3">
		<label for="current-password-input" class="form-label">Current password</label>
		<input name="current-password" type="password" class="form-control" id="current-password-input">
		<div class="form-text text-white">Leave all password fields empty if you are not changing your password.</div>
	</div>
	<div class="mb-3">
		<label for="new-password-input" class="form-label">New password</label>
		<input name="new-password" type="password" class="form-control" id="new-password-input">
	</div>
	<div class="mb-3">
		<label for="confirm-new-password-input" class="form-label">Confirm new password</label>
		<input name="confirm-new-password" type="password" class="form-control" id="confirm-new-password-input">
	</div>
	<div class="btn-group">
		<button type="submit" class="btn btn-primary save-btn">Save</button>
		<button class="btn btn-danger cancel-btn">Cancel</button>
		<button class="btn btn-secondary back-btn">Go back to tasks</button>
	</div>
</form>