<div class="task-groups">
	<div class="task-group" data-group="backlog">
		<h3 class="task-group-title" data-i18n="backlog">Backlog</h3>
		<ul class="task-list"></ul>
		<div class="task-group-controls">
			<div class="add-input-wrapper d-none">
				<input type="text" class="add-input">
			</div>
			<button class="task-add-button" id="backlog-task-add-button">&#xFF0B; <span data-i18n="add-card">Add card</span></button>
			<button class="task-submit-button d-none" data-i18n="submit">Submit</button>
		</div>
	</div>
	<div class="task-group" data-group="ready">
		<h3 class="task-group-title" data-i18n="ready">Ready</h3>
		<ul class="task-list"></ul>
		<div class="task-group-controls">
			<select id="ready-task-select" class="card-select d-none">
				<!-- Populated via JS -->
			</select>
			<button class="task-add-button">&#xFF0B; <span data-i18n="add-card">Add card</span></button>
		</div>
	</div>
	<div class="task-group" data-group="in-progress">
		<h3 class="task-group-title" data-i18n="in-progress">In Progress</h3>
		<ul class="task-list"></ul>
		<div class="task-group-controls">
			<select id="in-progress-task-select" class="card-select d-none"></select>
			<button class="task-add-button">&#xFF0B; <span data-i18n="add-card">Add card</span></button>
		</div>
	</div>
	<div class="task-group" data-group="finished">
		<h3 class="task-group-title" data-i18n="finished">Finished</h3>
		<ul class="task-list"></ul>
		<div class="task-group-controls">
			<select id="finished-task-select" class="card-select d-none"></select>
			<button class="task-add-button">&#xFF0B; <span data-i18n="add-card">Add card</span></button>
		</div>
	</div>
</div>
<div class="popups">
	<div class="popup" id="task-edit-popup">
		<div class="popup-overlay" data-action="cancel"></div>
		<div class="popup-content">
			<div class="popup-header">
				<h3 class="popup-title" contenteditable>
					<!-- Filled by JavaScript -->
				</h3>
				<button type="button" class="btn-close popup-btn-close" aria-label="Close" data-action="close"></button>
			</div>
			<div class="popup-body">
				<input type="hidden" name="taskId" id="popup-edit-task-id">
				<textarea class="popup-description">
					<!-- Filled by JavaScript -->
				</textarea>
			</div>
			<div class="popup-footer">
				<div class="btn-group">
					<button type="button" class="btn btn-primary popup-button" data-action="save" data-i18n="save">Save</button>
					<button type="button" class="btn btn-danger popup-button" data-action="delete" data-i18n="delete">Delete</button>
					<button type="button" class="btn btn-secondary popup-button" data-action="cancel" data-i18n="cancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>