:root {
	--color-gray-1: #EBECF0;
	--color-gray-2: #DEDEDE;
	--color-gray-3: #CDCDCD;
	--color-gray-4: #5E6C84;
}

.task-groups {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	height: calc(100% - 95px);
}

.task-group {
	min-height: 197px;
	height: fit-content;
	max-height: 100%;
	background-color: var(--color-gray-1);
	color: var(--color-black);
	padding: 12px 12px 8px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 100%;
	border-radius: 10px;
	overflow: auto;
}

.task-group.task-dropzone {
	position: relative;
}

.task-group.task-dropzone::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

.task-group.task-dropzone::after {
	content: "+";
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 80px;
	transform: translate(-50%, -50%);
}

.task-group-title {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}

.task-list {
	margin-top: 15px;
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.task,
.add-input-wrapper {
	background-color: var(--color-white);
	border-radius: 10px;
	padding: 7px 9px 7px 8px;
	cursor: pointer;
	min-height: 35px;
	word-wrap: anywhere;
}

.task-owner-login {
	font-weight: 500;
	margin-right: 3px;
}

.task:hover {
	background-color: var(--color-gray-2);
}

.task:active {
	background-color: var(--color-gray-3);
}

.task-add-button {
	background-color: var(--color-transparent);
	color: var(--color-gray-4);
	border: none;
	width: fit-content;
	padding: 6px 6px 7px 5px;
	border-radius: 5px;
}

.task-add-button:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.task-add-button:not(:disabled):hover {
	background-color: var(--color-white);
}

.task-add-button:not(:disabled):active {
	background-color: var(--color-gray-3);
}

.task-submit-button {
	height: 29px;
	width: 102px;
	color: var(--color-white);
	background-color: var(--color-blue);
	border: none;
	outline: none;
	border-radius: 5px;
}

.task-submit-button:hover {
	background-color: var(--color-darkblue);
}

.task-submit-button:active {
	filter: grayscale(40%);
}

.add-input-wrapper {
	padding-bottom: 7px;
	margin-bottom: 12px;
}

.add-input {
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	cursor: text;
}

.card-select {
	display: block;
	width: 100%;
	background-color: var(--color-white);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	height: 35px;
	padding: 8px 10px 6px 7px;
}